.page{
  justify-content: center;
  padding: 60px;
  align-items: center;
}

.block{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  text-align: center;
}

.vis-container {
  padding-bottom: 20px;
}

h1{
  text-align: center;
  color: #C63D2F;
  font-size: 30px;
  font-weight: bolder;
  font-family: sans-serif;
}

h2{
  text-align: center;
  color: #E25E3E;
  font-size: 25px;
  font-weight: bolder;
  font-family: sans-serif;
}

h3{
  text-align: center;
  color: #FF9B50;
  font-size: 20px;
  font-weight: bolder;
  font-family: sans-serif;
}

p{
  text-align: center;
  color: #FFBB5C;
  font-size: 18px;
  font-weight: lighter;
  font-family: sans-serif;
}



